a, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

html {
    height: 100%;
}
  
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.btn {
    border-radius: 20rem;
    font-weight: 600;
}
